.vscode
.vscode-test-web
.gitignore

build.gradle.kts
*.template.mjs

*.log

**/*.template.mjs
**/dist/**/*.map
**/dist/**/*.LICENSE.txt
**/node_modules
**/build/
**/out/
**/src/
**/jest.config.js
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/webpack*.config.js

extension/package.json
server/package.json
webview/package.json

hide-typescript-refactors
shared

test
test-workspace

!node_modules/@p42/hide-typescript-refactors/package.json
!node_modules/@p42/hide-typescript-refactors/build/index.js